/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF Pro';
    src: url('acssec/font/SF-Pro-Display-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('acssec/font/SF-Pro-Display-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

html, body {
    font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    height: 100%;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.background {
    background-image: url('acssec/nang.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.Weather-app {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 20px;
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 24px;
}

.app_search {
    background-color: #fff;
    display: flex;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.app_search input {
    flex: 1;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.search-icon {
    padding: 10px;
    font-size: 1.2rem;
    color: #000;
    cursor: pointer;
}

.app_temperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.temperature-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-location{
    display: flex;
    align-items: center;
    gap :10px;
}
.left-temperature-value {
    font-size: 8rem;
}
.left-temperature-description{
    font-size: 1.8rem;
}
.temperature-Right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.teamperature-fill{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}
.temperature-icon {
    font-size: 8rem;
    height: 180px;
}
.fill-text{
    font-size: 1.8rem;
}
.fill-value{
    font-size: 1.4rem;
}
.min-max{
    font-size: 1.4rem;
}
.app_temperature-5Day{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    border-radius: 16px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}
.day-header{
    opacity: 0.7;
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
}
.day-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-item{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.container-item:last-child{
    border-bottom: none;
}
.container-item-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.container-item-icon i{
    margin-right: 30px;
}
.container-item-temp{
    width: 70px;
    text-align: end;
}
.icon-line{
    width: 80px;
    height: 5px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(255 191 0), rgb(255 0 0));

}